<h1> Portfolio Items </h1>

<%= link_to "New portofolio item", new_portfolio_path %>

<% @portfolios.each do |record| %>
    <p> <%= record.title%> </p>
    <p> <%= record.subtitle%> </p>
    <p> <%= record.body%> </p>
    <p> <%= link_to record.title,portfolio_show_path(record) %> </p>
    <p> <%= image_tag(record.main_image) unless record.main_image.nil? %> </p>
    <%= link_to("Edit", edit_portfolio_path(record.id))%>
    <%= link_to("Delete item", portfolio_path(record), 
     method: :delete, data: {confirm: 'Are you sure?'})%>
<% end %>

