<h1> Portfolio Items </h1>
<% @portfolios.each do |record| %>
    <p> <%= record.title%> </p>
    <p> <%= record.subtitle%> </p>
    <p> <%= record.body%> </p>
    <p> <%= image_tag(record.main_image, {:height => "25%", :width => "25%"}) %> </p>
    <%= link_to "Edit", edit_portfolio_path(portfolio_item_id) %>
<% end %>

